@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Raleway',
        sans-serif;
    color: #777;
}

body,
html {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 0.5em;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    background-color: rgba(255, 255, 0, .5);
}

.main-nav {
    text-align: center;
    font-size: 1.2em;
    font-weight: lighter;
    border-bottom: 3px dotted rgba(255, 255, 0, .5);
}
.main-nav li {
    padding: 0 5%;
}

.main-header {
    background-color: rgba(0, 0, 0, .5);
    background-image: url("images/Header Background.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}